/* Estilização para o corpo do documento */
body {
    background-color: rgb(52,152,219); /* Cor de fundo */
    font-family: roboto;
}

/* Estilização para o contêiner do formulário de inscrição */
.signup-container {
    margin: 50px auto;            /* Margem superior e inferior de 50px, e centralizado horizontalmente */
    padding: 20px;                /* Espaçamento interno */
    box-shadow: 0px 0px 10px rgb(52,152,219); /* Sombra ao redor do contêiner */
    @apply bg-white w-[712px] mx-auto rounded-xl min-h-[522px] shadow-sm border border-black/20
}

/* Estilização para o título do contêiner do formulário de inscrição */
.signup-container p {
    text-align: center;          /* Alinhamento de texto no centro */
    margin-bottom: 15px;         /* Margem inferior */
}

/* Estilização do formulário dentro do contêiner de inscrição */
.signup-container form {
    display: flex;               /* Tipo de exibição flexível */
    flex-direction: column;      /* Direção do flex (vertical) */
}

/* Estilização para os campos de entrada do formulário */
.signup-container input {
    margin-bottom: 10px;         /* Margem inferior */
    padding: 10px;               /* Espaçamento interno */
    border-radius: 12px;          /* Cantos arredondados */
    background-color: beige;
    color: black;
    @apply text-sm border-sky-500 border-solid border-[3px]
}

/* Estilização para o botão do formulário */
.signup-container button {
    padding: 10px;               /* Espaçamento interno */
    color: #fff;                 /* Cor do texto branco */
    border-radius: 4px;          /* Cantos arredondados */
    cursor: pointer;             /* Estilo do cursor ao passar o mouse */
    transition: background-color 0.2s; /* Transição de cor de fundo ao passar o mouse */
    @apply bg-sky-600
}

/* Estilização do botão do formulário quando o mouse passa por cima */
.signup-container button:hover {
    @apply bg-sky-700
}

/* Estilização para o contêiner do logotipo */
.logo {
    margin-top: 20px;            /* Margem superior */
    text-align: center;          /* Alinhamento de texto no centro */
}

/* Estilização para a imagem do logotipo */
.logo img {
    max-width: 100%;             /* Largura máxima */
    width: 80px;                 /* Largura definida */
}


/* Estilização para o título "CRIE SUA CONTA" */
.signup-container h1 {
    text-align: center;     /* Alinhamento de texto no centro */
    margin-bottom: 10px;    /* Reduzi a margem para deixar mais próximo do parágrafo abaixo */
    font-family: 'Roboto', sans-serif;  /* Adicionado a fonte Roboto */
    @apply font-extrabold text-sky-500 text-2xl
}

/* Estilização para o parágrafo "Informe os dados abaixo..." */
.signup-container p {
    text-align: center;
    color: gray;
    margin-bottom: 25px;
    font-family: 'Lato', sans-serif;    /* Adicionado a fonte Lato */
    margin-top: 2px;    /* Adicionado margem superior para ajustar o espaçamento */
    @apply text-sm
}
