/* Estilização para o corpo do documento */
body {
    background-color: rgb(52,152,219); /* Cor de fundo */
    font-family: roboto;
}

/* Estilização para o contêiner do formulário de inscrição */
.signup-container {
    width: 100%;                  /* Largura total */
    max-width: 400px;             /* Largura máxima */
    margin: 50px auto;            /* Margem superior e inferior de 50px, e centralizado horizontalmente */
    background-color: #fff;      /* Cor de fundo branco */
    padding: 20px;                /* Espaçamento interno */
    border-radius: 8px;          /* Cantos arredondados */
    box-shadow: 0px 0px 10px rgb(52,152,219); /* Sombra ao redor do contêiner */
}

/* Estilização para o título do contêiner do formulário de inscrição */
.signup-container h1 {
    text-align: center;          /* Alinhamento de texto no centro */
    margin-bottom: 15px;         /* Margem inferior */
}

/* Estilização para o título do contêiner do formulário de inscrição */
.signup-container p {
    text-align: center;          /* Alinhamento de texto no centro */
    margin-bottom: 15px;         /* Margem inferior */
}

/* Estilização do formulário dentro do contêiner de inscrição */
.signup-container form {
    display: flex;               /* Tipo de exibição flexível */
    flex-direction: column;      /* Direção do flex (vertical) */
}

/* Estilização para os campos de entrada do formulário */
.signup-container input {
    margin-bottom: 10px;         /* Margem inferior */
    padding: 10px;               /* Espaçamento interno */
    border: 3px solid rgb(52,152,219);      /* Borda com cor cinza claro */
    border-radius: 12px;          /* Cantos arredondados */
}

/* Estilização para o botão do formulário */
.signup-container button {
    padding: 10px;               /* Espaçamento interno */
    background-color: rgb(52,152,219); /* Cor de fundo azul */
    color: #fff;                 /* Cor do texto branco */
    border: none;                /* Sem borda */
    border-radius: 4px;          /* Cantos arredondados */
    cursor: pointer;             /* Estilo do cursor ao passar o mouse */
    font-size: 14px;
    fo            
    transition: background-color 0.2s; /* Transição de cor de fundo ao passar o mouse */
}

/* Estilização do botão do formulário quando o mouse passa por cima */
.signup-container button:hover {
    background-color: rgb(0, 74, 177); /* Cor de fundo mais escura ao passar o mouse */
}

/* Estilização para o contêiner do logotipo */
.logo {
    margin-top: 20px;            /* Margem superior */
    text-align: center;          /* Alinhamento de texto no centro */
}

/* Estilização para a imagem do logotipo */
.logo img {
    max-width: 100%;             /* Largura máxima */
    width: 80px;                 /* Largura definida */
}


/* Estilização para o título "CRIE SUA CONTA" */
.signup-container h1 {
    text-align: center;
    color: rgb(52,152,219);
    margin-bottom: 10px;    /* Reduzi a margem para deixar mais próximo do parágrafo abaixo */
    font-family: 'Roboto', sans-serif;  /* Adicionado a fonte Roboto */
    
}

/* Estilização para o parágrafo "Informe os dados abaixo..." */
.signup-container p {
    text-align: center;
    color: gray;
    margin-bottom: 25px;
    font-size: 14px;
    font-family: 'Lato', sans-serif;    /* Adicionado a fonte Lato */
    margin-top: 2px;    /* Adicionado margem superior para ajustar o espaçamento */
}